
**/node_modules/*
.pnpm/*
!.pnpm/patches
!.pnpm/plugins
!.pnpm/releases
!.pnpm/sdks
!.pnpm/versions
.env

# expo
**/.expo/*

# next.js
**/.next/*
**/nextjs/out/
/out/

# 
**/./*

# production
/build

# debug
npm-debug.log*
pnpm-debug.log*
pnpm-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# os
.DS_Store
THUMBS_DB
thumbs.db

# intellij
.idea
.gradle

# turbo
**/.turbo/*

# sqlite
**/*.sqlite

# todo
TODO.md
